html, body {
  padding: 0;
  margin: 0;
  overflow-x:hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  background-image: linear-gradient(#baa8cf,#f6f0fa);
}

h1 {
  width:100%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  margin: 0%;
}

.normalQ p {
  width:auto;
  display: inline-block;
  margin: 0;
  margin-right: 1%;
  padding: 0;
}

.normalQ input[type="number"] {
  display: inline-block;
}

#largeText p,
form p.statement,
.normalQ p {
  width:auto;
  color: #9a6ec4;
  font-size: 100%;
  font-weight: 500;
}

#errorNotice {
  width: auto;
  color:#680091;
  padding-left: 1%;
  font-size: 70%;
  font-weight: 500;
}
#submit, #errorNotice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block; 
  vertical-align: middle; 
}

#submit {
  padding: 1%;
  border-radius: 15%;
  color: #ffffff;
  background-color: #8e62c7;
  font-size: 100%;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#largeText textarea {
  display: block;
  margin-top: 0;
  margin-bottom: 1%;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 60%;
  height: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li {
  width: 96%;
  display: inline-block;
  padding-left: 2%;
  text-align: left;
  vertical-align: top;
}

li input[type=radio] {
  display: block;
  position: relative;
  top: 0;
  margin-left: -6px;
}

form .statement {
  width:95%;
  display: block;
  padding-left: 2%;
}

form .likert:last-of-type {
  border-bottom: 0;
}

form .likert {
  list-style: none;
  width: 96%;
  margin: 0;
  padding: 0 2%;
  display: block;
  border-bottom: 2px solid #efefef;
}

form .likert:before {
  content: "";
  position: relative;
  top: 11px;
  left: 0;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 100%;
}

form .likert li {
  display: inline-block;
  width: 14%;
  text-align: center;
  vertical-align: top;
}

form .likert li input[type=radio] {
  size: 80%;
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;
}

form .likert li label {
  font-size: 60%;
  width: 100%;
  color: #636363;
}

form {
  margin-bottom:0;
}

/* Media query for wider views */
@media (min-width: 768px) {
  h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 38px;
  }
  .normalQ input, .normalQ select {
    size: 22px;
    color: #636363;
  }
  #largeText p,
  form p.statement,
  .normalQ p {
    width: auto;
    font-size: 28px;
    font-weight: 500;
  }
  form .likert li label {
    font-size: 20px;
    width: 100%;
  }
  li {
    margin-bottom: 1%;
    width: 96%;
    display: inline-block;
    padding-left: 2%;
    text-align: left;
    vertical-align: top;
  }
  #errorNotice {
    font-size: 90%;
  }
}

.question {
  padding:2%;
  margin-top: 0.35%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0.35%;
  border-radius:20px;
  background-color: #ffffff;
}

/* Media query for smaller views */
@media (max-width: 768px) {
  h1 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 35px;
  }

  #largeText p,
  form p.statement,
  .normalQ p {
    width: auto;
    font-size: 22px;
    font-weight: 500;
  }
  .normalQ input, .normalQ select {
    size: 13px;
    color: #636363;
  }
  form .likert li label {
    font-size: 12px;
    width: 100%;
    color: #636363;
  }
  li {
    width: 96%;
    display: inline-block;
    padding-left: 2%;
    text-align: left;
    vertical-align: top;
  }
  .question {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
  submit {
    padding:2%;
  }
}





